CEM_POSTGRES_HOST=<database-host>
CEM_POSTGRES_DATABASE=<database-name>
CEM_POSTGRES_USER=<database-user>
CEM_POSTGRES_PASSWORD=<database-user-password>

SEMMED_MYSQL_HOST=<database-host>
SEMMEDDB_MYSQL_USER=<database-user>
SEMMEDDB_MYSQL_PASSWORD=<database-password>