BASE_FILE_DIR=<inbound-file-directory-path>
CEM_POSTGRES_HOST=<database-host>
CEM_POSTGRES_DATABASE=cem
CEM_POSTGRES_USER=<database-user>
CEM_POSTGRES_PASSWORD=<database-user-password>

SEMMED_MYSQL_HOST=<host>
SEMMEDDB_MYSQL_USER=<user>
SEMMEDDB_MYSQL_PASSWORD=<password>